.proudoct{

border: 1px solid red;


}
.prodoucts1{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;

}
.price{
display: flex;
justify-content: space-between;

}